@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container{
    padding: 10px;
    padding-top: 50px;
    padding-left: 20px;
    background-color: #271E19;
    color: aliceblue;
    font-family: "Press Start 2P", system-ui;
    font-size: 12px;
}